/*공통부분*/
 * { margin: 0; padding: 0; }
 a { text-decoration: none; }  
 img { border: 0; } 
 /*전체영역*/
        
 
              
           
.wrap { height:860px; width:448px; background:url(../images/left.jpg) repeat-x; position:absolute; left:0; top:0;}
           
      
           