 /*스피라*/
/*스피라1*/
#spirra {
    background-image: url('../images/spirra1.jpg');
    width: 100%;
    height: 904px; 
    margin:0 auto; padding:0;
    background-position:top;
    background-repeat:no-repeat;
	
	
}
/*스피라2*/
#spirra2 {
    background-image: url('../images/spirra2.jpg');
    width: 100%;
    height: 2114px; 
    margin:0 auto; padding:0;
    background-position:top;
    background-repeat:no-repeat;

}
 /*스피라3*/
#spirra3 {/*이미지 박스*/
    background-image: url('../images/spirra3.jpg');
    width: 100%;
    height: 886px; 
    margin:0 auto; padding:0;
    background-repeat: no-repeat;
    background-position: top center;
}
/*스피라4*/
#spirra4 {/*이미지 박스*/
    background-image: url('../images/spirra4.jpg');
    width: 100%;
    height: 1367px; 
    margin:0 auto; padding:0;
    background-repeat: no-repeat;
    background-position: top center;
}
  /*컴투스1*/
#comto1 {/*이미지 박스*/
    background-image: url('../images/comto1.jpg');
    width: 100%;
    height: 900px; 
    margin:0 auto; padding:0;
    background-repeat: no-repeat;
    background-position: top center;
}
/*컴투스2*/
#comto2 {/*이미지 박스*/
    background-image: url('../images/comto2.jpg');
    width: 100%;
    height: 901px; 
    margin:0 auto; padding:0;
    background-repeat: no-repeat;
    background-position: top center;
}
/*컴투스3*/
#comto3 {/*이미지 박스*/
    background-image: url('../images/comto3.jpg');
    width: 100%;
    height: 908px; 
    margin:0 auto; padding:0;
    background-repeat: no-repeat;
    background-position: top center;
}
/*컴투스4*/
#comto4 {/*이미지 박스*/
    background-image: url('../images/comto4.jpg');
    width: 100%;
    height: 906px; 
    margin:0 auto; padding:0;
    background-repeat: no-repeat;
    background-position: top center;
}
/*리빙페어1*/
#s1 {/*이미지 박스*/
    background-image: url('../images/s1.jpg');
    width: 100%;
    height: 903px; 
    margin:0 auto; padding:0;
    background-repeat: no-repeat;
    background-position: top center;
}
/*리빙페어2*/
#f-sub2 {/*이미지 박스*/
    background-image: url('../images/f/f3.jpg');
    width: 100%;
    height: 1877px; 
    margin:0 auto; padding:0;
    background-repeat: no-repeat;
    background-position: top center;
}      
/*피아트서브3*/
#f-sub3 {/*이미지 박스*/
    background-image: url('../images/f/f4.jpg');
    width: 100%;
    height: 1246px; 
    margin:0 auto; padding:0;
    background-repeat: no-repeat;
    background-position: top center;
}   

/*인덱스*/
#index {/*이미지 박스*/
    background-image: url('/images/main.jpg');
    width: 100%;
    height: 864px; 
    margin:0 auto; padding:0;
    background-repeat: no-repeat;
    background-position: top center;
}  