@charset "utf-8";
/* CSS Document */
body,dl,dt,dd,span,p{margin:0; padding:0;}
body{ background:#ccc; font:12px/1.5em 돋움;}
div{width:800px; height:300px; margin:50px auto; overflow:hidden}
dl{width:900px; height:300px;}
dt{width:35px; height:300px; float:left;}
dt span{ display:block; width:100%; height:100%; text-indent:-9999px;}
dt span.over{ cursor:pointer;}
dt span.selected{ cursor:default;}

dt#menu1 span{ background:url(../images/background-1.jpg);}
dt#menu1 span.over{background:url(../images/background-1-over.jpg);}
dt#menu1 span.selected{background:url(../images/background-1-selected.jpg);}

dt#menu2 span{ background:url(../images/background-2.jpg);}
dt#menu2 span.over{background:url(../images/background-2-over.jpg);}
dt#menu2 span.selected{background:url(../images/background-2-selected.jpg);}

dt#menu3 span{ background:url(../images/background-3.jpg);}
dt#menu3 span.over{background:url(../images/background-3-over.jpg);}
dt#menu3 span.selected{background:url(../images/background-3-selected.jpg);}

dd{height:300px; width:695px; float:left; }
dd.b1{ background:#fff url(../images/b1.jpg) no-repeat right bottom; background-size:100px 100px;}
dd.b2{ background:#fff url(../images/b2.jpg) no-repeat  right bottom;background-size:100px 100px;}
dd.b3{ background:#fff url(../images/b3.jpg) no-repeat right bottom;background-size:100px 100px; }
dd p{ text-align:justify; padding:20px; text-indent:1em; width:655px;}
