@charset "utf-8";
/* CSS Document */
body,div,p,ul,li,a{margin:0; padding:0;}
body{width:950px; margin:10px auto;border:1px solid #333; font:14px Arial;}
li{list-style:none;}
a{ text-decoration:none;}
p{ margin:10px; clear:both;}

#nav{ background:#F93; font-size:24px;height:63px;}
#nav li{ float:left; position:relative; width:175px; height:63px; text-align:center; padding:20px 5px 10px 5px;}
#nav li a{ display:block; color:#fff;}

#nav li ul.subnav{ position:absolute;top:63px;left:0; background:#FFCCCC; width:175px;border-right:2px solid #999; border-bottom:2px solid #999; border-left:2px solid #999; border-bottom-left-radius:8px;  border-bottom-right-radius:8px; display:none;}
#nav li ul.subnav li{height:40px;margn:0; padding:0;}
#nav li ul.subnav li a{ color:#333;font-size:18px; padding:10px 0; }
#nav li ul.subnav li a:hover{ background:#FF6699; color:#906; border-bottom-left-radius:8px; border-bottom-right-radius:8px; }
