@charset "utf-8";
* {margin:0px; padding:0px}
ul {list-style:none;}
a {color:#000; text-decoration:none;}
body {font:normal 12px '¸¼Àº °íµñ',Malgun Gothic,sans-serif; color:#333;}


.header_wrap {height:80px; background:url(../img/line.png) repeat-x left bottom;}
.header {width:920px; height:79px; margin:0px auto; border:1px solid white;}
.header h1 { padding-top:8px; margin-left:-13px; float:left;}

.gnb {margin-top:25px;}
.gnb > li {float:left; padding:0 50px; margin:0px; position:relative;}
.gnb > li > a {display:block; font-size:16px; padding:5px 10px 33px 5px; height:16px;}
.gnb > li > a:hover {color:#333; font-weight:bold;}
.gnb > li:hover .sub {display:block;}

.gnb .sub  {position:absolute; left:50px; top:53px; display:none; width:452px; background:#036;}
.gnb .sub2 {position:absolute; left:50px; top:53px; display:none; width:524px; background:#036;}
.gnb .sub3 {position:absolute; left:50px; top:53px; display:none; width:324px; background:#036;}
.gnb .sub4 {position:absolute; left:-300px; top:53px; display:none; width:451px; background:#036;} 

.gnb .sub li {float:left;}
.gnb .sub li a {display:block; padding:10px 20px; color:#fff;}
.gnb .sub li a:hover  {background:#529ad4; color:#FFF;}




.content_wrap {width:920px; margin:0 auto; position:relative;}
/*ÆË¾÷*/
.content_wrap .popup {width:300px; height:500px; background:#C90; position:absolute; right:0px; bottom:200px; z-index:100; display:none;}

.content_wrap .rolling {position:relative; margin-top:40px;}
.content_wrap .rolling .btn {position:absolute; left:0px; bottom:8px;}

.content_wrap .banner { overflow:hidden; }
.content_wrap .banner li {float:left;}
.content_wrap .banner li a {display:block; width:230px; height:85px; text-indent:-9999px;}

.content_wrap .banner .banner1 {background:url(../img/ynasset_2013_wall.png) no-repeat;}
.content_wrap .banner .banner2 {background:url(../img/ynasset_2013_25.png) no-repeat;}
.content_wrap .banner .banner3 {background:url(../img/ynasset_2013_26.png) no-repeat;}
.content_wrap .banner .banner4 {background:url(../img/ynasset_2013_27.jpg) no-repeat;}

/*
.content_wrap .banner .banner1:hover {background:url(../img/ynasset_2013_24.png) no-repeat;}
.content_wrap .banner .banner2:hover {background:url(../img/ynasset_2013_retire.png) no-repeat;}
.content_wrap .banner .banner3:hover {background:url(../img/ynasset_2013_chile.png) no-repeat;}
.content_wrap .banner .banner4:hover {background:url(../img/ynasset_2013_car.png) no-repeat;}
*/
/*
.content_wrap .notice {overflow:hidden; margin-top:10px;}
.content_wrap .notice p {float:left;}
*/

.content { width:960px; margin:14px auto; position:relative; height:800px;}
.content .con1{position:absolute; left:-5px; top:0px;}
.content .con1 > li {float:left; margin-right:9.5px; margin-bottom:14px; margin-left:5px;}
.content .con2{position:absolute; left:-5px; top:247px;}
.content .con2 > li {float:left; margin-right:9.5px; margin-bottom:14px; margin-left:5px;}
.content .con3{position:absolute; left:-5px; top:496px;}
.content .con3 > li {float:left; margin-right:9.5px; margin-bottom:14px; margin-left:5px;}



.putter_wrap { width:100%; background:url(../img/line.png) repeat-x left top; padding:10px;}
.putter_wrap .putter {width:920px; height:20px; margin:0 auto; padding-bottom:30px;}




















